source/workspace
source/ModelGenerator/runs
source/ModelGenerator/yolov8n.pt
source/DataGenerator/__pycache__
*.pyc
source/yolov5/quantize_result
source/yolov5/compiled_model
*__pycache__
test
*.csv
*.png
video_frames
frames_dpu_results
plots_validation
*.xmodel
*.onnx
*.mp4
*summary.txt